<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cmss">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ticket_number"></activity>
        <activity android:name=".User" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".splash_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register" />
        <activity android:name=".Attendance" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>